.pointer {
    cursor: pointer;
}

.component-fade-enter-active, .component-fade-leave-active {
    transition: opacity .2s ease;
}
.component-fade-enter, .component-fade-leave-to
/* .component-fade-leave-active до версии 2.1.8 */ {
    opacity: 0;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity 2s
}

.fade-enter, .fade-leave-to  {
    opacity: 0
}

.input-group,
.form-group, 
.form-control {
    border: 2px solid transparent;
    transition: border .3s;
}

.input-group.is-invalid,
.form-group.is-invalid,
.form-control.is-invalid {
    border: 2px solid rgba(251, 99, 64);
    border-radius: 6px;
}